.properties-panel{
    width: 300px;
    position: absolute;
    right: 0;
    top: 0;
}

.allButton{
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
}

.fontBtn{
    margin: 0 20px;
    /*padding: 0 10px ;*/
    width: 50px;
}