<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bht.expense.enterprise.strategy.detail.basic.dao.StrategyBasicMapper">

   <select id="findByStrategyId" resultType="bht.expense.enterprise.strategy.detail.basic.entity.StrategyBasicEntity">
       select * from bus_enterprise_strategy_basic where strategy_id = #{strategyId}
   </select>

</mapper>