<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bht.expense.admin.sys.role.dao.RoleMapper">

    <delete id="del" parameterType="String">
        delete from sys_role where id = #{id}
    </delete>

    <delete id="dels">
        delete from sys_role where id in
        <foreach collection="array" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="findByAll" resultType="bht.expense.admin.sys.role.entity.RoleEntity">
        select * from sys_role
    </select>



</mapper>