<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bht.expense.bpm.bill.dao.ActivitiBillMapper">

    <select id="findByBusinessIdAndInstanceId" resultType="bht.expense.bpm.bill.entity.ActivitiBillEntity">
        select * from bus_activiti_bill where instance_id = #{instanceId} and business_id = #{businessId}
    </select>
</mapper>